# Build artifacts
target/
*.jar
*.war
*.ear
*.class

# Logs
*.log
logs/
app.log

# IDE files
.idea/
*.iml
.vscode/
.settings/
.project
.classpath

# OS specific files
.DS_Store
Thumbs.db

env
.env
contact-core-service/.env
